#order-list-view, #order-list-view:focused {
    -fx-hgap: 10px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#order-list-view .list-cell, #order-list-view .list-cell:odd, #order-list-view .list-cell:selected, #order-list-view .list-cell:filled {
    -fx-background-color: transparent;
}

#order-list-view .track {
    -fx-background-color: white;
}

#order-list-view .thumb {
    -fx-background-color: #3498db;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

#order-list-view .increment-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

#order-list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.pizzaria-footer-button {
    -fx-cursor: hand;
}