#orders-list {
    -fx-hgap: 10px;
    -fx-border-color: transparent;
}

#orders-list .track {
    -fx-background-color: white;
}

#orders-list .thumb {
    -fx-background-color: #3498db;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

#orders-list .increment-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

#orders-list .decrement-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

#room-view {
    -fx-background-color: white;
}

.room-button {
    -fx-background-color: white;
    -fx-background-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 100px;
}