#orders-list {
    -fx-hgap: 10px;
    -fx-border-color: transparent;
}

#orders-list .track {
    -fx-background-color: white;
}

#orders-list .thumb {
    -fx-background-color: #3498db;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

#orders-list .increment-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

#orders-list .decrement-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}

#stock-list {
    -fx-background-color: green;
}

#room-view {
    -fx-background-color: white;
}

#stock-view-container {
    -fx-background-color: white;
    -fx-background-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 100px;
}

#stock-view {
    -fx-background-color: transparent;
}

#item-stock-list {
    -fx-background-color: transparent;
}

#upgrade-view-root {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

#upgrade-view-container {
    -fx-background-color: white;
    -fx-background-radius: 0px 0px 100px 100px;
}