#produce-button {
    -fx-background-color: #69140E;
    -fx-background-radius: 10px;
    -fx-border-color: #FFF94F;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;

    -fx-padding: 5px;
}

#cell-root {
    -fx-background-color: transparent;
}

#progress-status {
    -fx-padding: 0px;
}

#progress-status .track {
    -fx-background-color: white;
}

#progress-status .bar{
    -fx-padding: 0px;
    -fx-background-color: rgb(198, 40, 40);
}