#cell-root {

}

#header-container {
    -fx-background-color: rgba(170, 134, 134, 1);
    -fx-background-radius: 0px 0px 20px 20px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 0px 0px 20px 20px;
}

#produce-button {
    -fx-background-color: rgba(20, 194, 194, 1);
    -fx-background-radius: 20px 20px 0 0;
}